@page
@using ASP_NET_02._Dependency_injection.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var products = ViewData["Products"] as IEnumerable<Product>;
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <div>
        <ul>
            @foreach (var product in products)
            {
                <li>
                    <strong>@product.Name</strong> - <em>@product.Description</em>
                </li>
            }
        </ul>
    </div>
</div>
